.traffic-light.stem {

}

.traffic-lght-body {
    height: 200px;
    width: 80px;
    background-color: black;
    margin: auto;
}

.light {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: auto;
}

.red {
    background-color: red;

}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.selected {
    background-color: blueviolet;
}